<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      <span class="text-primary">Login</span>
      <ion-icon name="log-in" class="text-primary"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="appBackground fondo">
  <ion-card>
    <ion-card-header> Login </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label floating>
            <ion-icon name="mail" item-start class="text-primary"></ion-icon>
            Email
          </ion-label>
          <!-- <ion-label stacked>Email</ion-label> -->
          <!--
            <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          -->
          <ion-input type="text" [(ngModel)]="userData.email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
            <ion-icon name="lock" item-start class="text-primary"></ion-icon>
            Password
          </ion-label>
          <!--
            <ion-icon name="lock" item-start class="text-primary"></ion-icon>
            <ion-label stacked>Password</ion-label>
          -->
          <ion-input
            type="password"
            [(ngModel)]="userData.password"
          ></ion-input>
        </ion-item>
        <br />

        <button ion-button full color="success" (click)="login()">
          &nbsp;Ingresar
        </button>
      </ion-list>
      <div text-center margin-top>
        <span ion-text color="secondary" tappable>
          <a href="#" (click)="signup()">Registrarse</a></span
        >
      </div>

      <div text-center margin-top>
        <span ion-text color="secondary" tappable>
          <a href="#" (click)="home()">Inicio</a></span
        >
      </div>
    </ion-card-content>
  </ion-card>
  <!--
    <ion-footer>
      <ion-toolbar>
        <ion-title>&copy; Copyright 2018, Movil POS by Jramirez</ion-title>
      </ion-toolbar>
    </ion-footer>
  -->
</ion-content>
