<!--
  Generated template for the TabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Inicio" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Productos" tabIcon="list"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Ventas" tabIcon="logo-usd"></ion-tab>
</ion-tabs>
