<ion-header>
  <ion-navbar>
    <img ion-right src="assets/imgs/logo.png" class="navbarLogo" />
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="fondo">
  <h2>Benvenido: {{ userPostData.name }}</h2>
  <h3>Email: {{ userPostData.email }}</h3>
  <button ion-button color="primary" (click)="logout()">Cerrar sesion</button>

  <!--
    <ion-footer>
      <ion-toolbar>
        <ion-title>&copy; Copyright 2018, Movil POS by Jramirez</ion-title>
      </ion-toolbar>
    </ion-footer>
  -->
</ion-content>
