<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="fondo">
  <ion-card>
    <ion-card-header> Login </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label floating>
            <ion-icon name="barcode" item-start class="text-primary"></ion-icon>
            Nombre
          </ion-label>
          <ion-input
            type="text"
            [(ngModel)]="selectProduct.item_name"
            name="item_name"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>
            <ion-icon name="bulb" item-start class="text-primary"></ion-icon>
            Descripción
          </ion-label>
          <ion-input
            type="text"
            [(ngModel)]="selectProduct.description"
            name="description"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>
            <ion-icon
              name="logo-buffer"
              item-start
              class="text-primary"
            ></ion-icon>
            Categoria
          </ion-label>
          <ion-select
            [(ngModel)]="selectProduct.id_category"
            name="selectProduct.id_category"
          >
            <ion-option *ngFor="let c of categoria_list" value="{{c.id}}">{{
              c.name
            }}</ion-option>
          </ion-select>
          <ion-input
            type="text"
            [(ngModel)]="selectProduct.category"
            name="category"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
            <ion-icon
              name="logo-usd"
              item-start
              class="text-primary"
            ></ion-icon>
            Precio Costo
          </ion-label>
          <ion-input
            type="number"
            [(ngModel)]="selectProduct.cost_price"
            name="cost_price"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
            <ion-icon
              name="logo-usd"
              item-start
              class="text-primary"
            ></ion-icon>
            Precio de Venta
          </ion-label>
          <ion-input
            type="number"
            [(ngModel)]="selectProduct.selling_price"
            name="selling_price"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
            <ion-icon name="cube" item-start class="text-primary"></ion-icon>
            Cantidad
          </ion-label>
          <ion-input
            type="number"
            [(ngModel)]="selectProduct.quantity"
            name="quantity"
          ></ion-input>
        </ion-item>
        <br />

        <button ion-button full color="success" (click)="guardar()">
          <ion-icon
            name="checkmark-circle"
            item-start
            class="text-primary"
          ></ion-icon>

          &nbsp;Guardar
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
