<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding id="welcome">
  <img src="assets/imgs/logo.png" class="logo"/>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Movil-POS</h1>
        <h3>Proyecto Final: Programación de dispositivos móviles</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>

  <ion-grid >
    <ion-row>
      <ion-col center text-center>
        <button ion-button full color="success" (click)="signup()">Registrarse</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col center text-center>
        <button ion-button full color="lightText" (click)="login()">Log in</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer>
    <ion-toolbar>
      <ion-title>&copy; Copyright 2018, Julio Ramírez</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>