<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      <span class="text-primary">Productos</span>
      <ion-icon name="log-in" class="text-primary"></ion-icon>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="createProduct()">
        <ion-icon name="add-circle"></ion-icon> Crear
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="appBackground">
  <ion-searchbar (ionInput)="serachItems($event)"></ion-searchbar>
  <ion-list class="fondo">
    <ion-item-sliding
      *ngFor="let item of datosLegibles; let i = index"
      class="fondo"
    >
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/logox.png" />
        </ion-avatar>
        <h2>{{ item.item_name }}</h2>
        <h3>{{ item.category }}</h3>
        <p>Q {{ item.selling_price }}</p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="eliminar(item)">
          <ion-icon name="trash"></ion-icon>
          Eliminar
        </button>
        <button ion-button color="secondary" (click)="editProduct(item)">
          <ion-icon name="create"></ion-icon>
          Editar
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="cart"></ion-icon>
          Cotizar / Comprar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
